<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <!--Custom config section with site name and default options-->
  <configSections>
    <sectionGroup name="WetBoewGroup">
      <section name="WetBoew" type="GCIntranetTheme.WetBoewConfiguration, GCIntranetTheme" />
    </sectionGroup>
  </configSections>
  
  <WetBoewGroup>
    <WetBoew defaultLanguage="en" showBreadcrumbTrail="true" showSearch="true" showSectionMenu="false" showSiteMenu="true">
      <languages>
        <clear />
        <add name="English"  abbr="en" textDirection="ltr" homePage="~/index-en.aspx" licencePage="~/licence-en.aspx" siteName="Web Experience Toolkit" />
        <add name="Français" abbr="fr" textDirection="ltr" homePage="~/index-fr.aspx" licencePage="~/licence-fr.aspx" siteName="Boîte à outils de l’expérience Web" />
        <!--<add name="Español"  abbr="es" textDirection="ltr" homePage="~/index-es.aspx" licencePage="~/licence-es.aspx" siteName="Caja de Herramientas de Experiencia Web" />-->
      </languages>
    </WetBoew>
  </WetBoewGroup>
  
  <system.web>
      <compilation debug="true" targetFramework="4.0" />

    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" culture="en-CA" uiCulture="en-CA" />

      <!--Set the master page to be used if not specified otherwise-->
      <pages masterPageFile="~/MasterPages/GCIntranet.master" />

      <!--Create site map providers for each language (prefixed with the language abbreviation).-->
      <siteMap defaultProvider="ENSiteMapProvider" enabled="true">
        <providers>
          <add name="ENSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/SiteMaps/Web.sitemap" />
          <add name="FRSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/SiteMaps/Web.fr.sitemap" />

          <add name="ENHeaderSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/SiteMaps/Header.sitemap" />
          <add name="FRHeaderSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/SiteMaps/Header.fr.sitemap" />
          
          <add name="ENFooterSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/SiteMaps/Footer.sitemap" />
          <add name="FRFooterSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/SiteMaps/Footer.fr.sitemap" />
        </providers>
      </siteMap>     
      
    </system.web>
</configuration>
