<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Wet-Boew.Master.cs" Inherits="GCWebTheme.MasterPages.Wet_Boew" %>

<!DOCTYPE html><!--[if lt IE 9]><html class="no-js lt-ie9" lang="<%=this.TwoLetterLangName %>" dir="<%=this.TextDir %>"><![endif]--><!--[if gt IE 8]><!-->
<html class="no-js" lang="<%=this.TwoLetterLangName %>" dir="<%=this.TextDir %>">
<!--<![endif]-->
<head runat="server">
<meta charset="utf-8">
<!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
<title>Content page - Canada.ca</title>
<meta content="width=device-width,initial-scale=1" name="viewport">
<!-- Meta data -->
<meta name="description" content="Web Experience Toolkit (WET) includes reusable components for building and maintaining innovative Web sites that are accessible, usable, and interoperable. These reusable components are open source software and free for use by departments and external Web communities">
<asp:ContentPlaceHolder ID="MetaData" runat="server">
<meta name="dcterms.title" content="<%=Page.Title %>">
<meta name="dcterms.creator" content="<%=this.PageCreator %>">
<meta name="dcterms.issued" title="W3CDTF" content="<%=this.PageIssued %>">
<meta name="dcterms.modified" title="W3CDTF" content="<%=this.PageModified %>">
<meta name="dcterms.subject" title="scheme" content="<%=this.PageSubject %>">
<meta name="dcterms.language" title="ISO639-2" content="<%=this.ThreeLetterLangName %>">
</asp:ContentPlaceHolder>
<!-- Meta data-->
<!--[if gte IE 9 | !IE ]><!-->
<link href="/wet-v4/dist/assets/favicon.ico" rel="icon" type="image/x-icon">
<link rel="stylesheet" href="/wet-v4/dist/css/wet-boew.min.css">
<!--<![endif]-->
<link rel="stylesheet" href="/wet-v4/dist/css/theme.min.css">
<!--[if lt IE 9]>
<link href="/wet-v4/dist/assets/favicon.ico" rel="shortcut icon" />
<link rel="stylesheet" href="/wet-v4/dist/css/ie8-wet-boew.min.css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/wet-v4/dist/js/ie8-wet-boew.min.js"></script>
<![endif]-->
<!--[if lte IE 9]>


<![endif]-->
<noscript><link rel="stylesheet" href="/wet-v4/dist/css/noscript.min.css" /></noscript>
<asp:ContentPlaceHolder ID="Head" runat="server" />
</head>
<body vocab="http://schema.org/" typeof="WebPage">
<asp:ContentPlaceHolder ID="TopOfPage" runat="server" />
<asp:ContentPlaceHolder ID="Header" runat="server" />
<asp:ContentPlaceHolder ID="Main" runat="server" />
<asp:ContentPlaceHolder ID="Footer" runat="server" />
<!--[if gte IE 9 | !IE ]><!-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/wet-v4/dist/js/wet-boew.min.js"></script>
<!--<![endif]-->
<!--[if lt IE 9]>
<script src="./js/ie8-wet-boew2.min.js"></script>
<![endif]-->
<script src="/wet-v4/dist/js/theme.min.js"></script>
</body>
</html>