<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <!--Override settings from the root web.config file.-->
  <WetBoewGroup>
    <WetBoew showSectionMenu="true" />
  </WetBoewGroup>
</configuration>
