<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <!--Custom config section with default options-->
  <configSections>
    <sectionGroup name="WetBoewGroup">
      <section name="WetBoew" type="GCWebTheme.WetBoewConfiguration, GCWebTheme" />
    </sectionGroup>
  </configSections>

  <WetBoewGroup>
    <WetBoew defaultLanguage="en" showSectionMenu="false" />
  </WetBoewGroup>
  
    <system.web>
      <compilation debug="true" targetFramework="4.0" />

      <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" culture="en-CA" uiCulture="en-CA" />
      
      <!--Set the master page to be used if not specified-->
      <pages masterPageFile="~/MasterPages/GCWeb.master" />
      
      <!--Create site map providers for each language-->
      <siteMap defaultProvider="ENSiteMapProvider" enabled="true">
        <providers>
          <add name="ENSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/SiteMaps/Web.sitemap" />
          <add name="FRSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/SiteMaps/Web.fr.sitemap" />

          <add name="ENHeaderSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/SiteMaps/Header.sitemap" />
          <add name="FRHeaderSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/SiteMaps/Header.fr.sitemap" />

          <add name="ENAsideSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/SiteMaps/Aside.sitemap" />
          <add name="FRAsideSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/SiteMaps/Aside.fr.sitemap" />
          
          <add name="ENFooterSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/SiteMaps/Footer.sitemap" />
          <add name="FRFooterSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/SiteMaps/Footer.fr.sitemap" />
        </providers>
      </siteMap>
      
    </system.web>
  
</configuration>
