@charset "utf-8";/*!
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt
 *
 * Version: v3.0.1
 *
 */@media screen,print
 {
    form {margin-left:0;margin-right:0;padding-bottom: 0px;padding-top: 0px;}
    form h2, form h3, form h4, form h5, form h6 {border-bottom:inherit;color:inherit;}            
    form h2, form h3, form h4, form h5, form h6 {margin-left:10px;margin-right:10px;}  
    
    .module-form{margin-left: 10px;margin-right: 10px;}
    #ctl15_smpBC span:first-child,#ctl16_smpBC span:first-child,#smpBC span:first-child{background-image:none;padding-left:0;}
    #ctl15_smpBC,#ctl16_smpBC,#smpBC{padding:0;}
    #ctl15_smpBC span img,#ctl16_smpBC span img,#smpBC span img{margin:0 5px 0 0;padding:0px !important; background-image:url(../../theme-gcwu-fegc/images/bcrumb.gif);}

}
@media screen and (min-device-width: 768px) and (min-width: 768px){
#gcwu-srchbx #gcwu_srch {
color: #444;
border: 1px solid #ccc;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
-ms-border-radius: 2px;
-o-border-radius: 2px;
border-radius: 2px;
margin-left: 0;
width: 218px;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
background: #fff;
padding: 2px 0;
}
#gcwu_srch_submit {
background: #ccc url("../../theme-gcwu-fegc/images/search-button.gif") 0 0 repeat-x;
}
#gcwu_srch_submit {
-webkit-appearance: none;
min-height: 24px;
border-bottom: 1px solid #999;
border-right: 1px solid #999;
border-top: 1px solid #fff;
border-left: 1px solid #fff;
color: #333;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
text-shadow: 0 1px 0 #eee;
font-weight: 400;
-moz-box-shadow: none;
-webkit-box-shadow: none;
box-shadow: none;
padding: 2px 6px;
display: inline;
}

#gcwu_srch_submit:focus, #gcwu_srch_submit:hover {
background: #ddd url("../../theme-gcwu-fegc/images/search-button-focus.gif") 0 0 repeat-x;
}
#gcwu_srch_submit:focus, #gcwu_srch_submit:hover {
text-shadow: 0 1px 0 #ddd;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
border-bottom: 1px solid #999;
border-right: 1px solid #999;
border-top: 1px solid white;
border-left: 1px solid white;
}
}
@media screen and (max-width: 767px), screen and (max-device-width: 767px)
{
    #ctl15_smpBC,#ctl16_smpBC{margin:0;padding: 0 !important;}
    #ctl15_smpBC span img,#ctl16_smpBC span img, #smpBC span img {background: url("../../theme-gcwu-fegc/images/bcrumb-mobile.png") no-repeat right center !important;padding: 5px 1px 5px 5px !important;}
    #jqm-wb-mb #gcwu-bc-in span {padding: 5px 1px 5px 5px;
float: left;
margin: 0;
-webkit-border-radius: 0;
-moz-border-radius: 0;
-ms-border-radius: 0;
-o-border-radius: 0;
border-radius: 0;
}

}